@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/* CUSTOM PROPS */
:root {
  --body-bg: #230E2B;
  --header-bg: #2D1436;
  --header-color: #fff;
  --body-color: #FFFDFD;
  --link-hover: #FE6703;
  --link-hover-after: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  font-family: "Rubik", sans-serif;
  background-color: var(--body-bg);
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

/* BUTTON */
.button {
  display: inline-block;
  padding: 13px 38px;
  color: var(--header-color);
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 40px;
  text-decoration: none;
  background-image: var(--link-hover-after);
}
/* CONTAINER */

.container {
  width: 100%;
  max-width: 1940px;
  padding-left: 200px;
  padding-right: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
  color: var(--body-color);
}



/* SITE-HEADER */
.site-header {
  background-color: var(--header-bg);
  color: var(--header-color);
  height: 120px;
}
.site-header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-header__logo {
  margin-right: 60px;
  flex-shrink: 0;
  width: 230px;
  height: 30px;
  margin-bottom: 22px;
}
.site-header__logo-img {
  flex-shrink: 0;
  object-fit: contain;
}
.site-header__logo:hover {
  opacity: 0.8;
}
.site-header__logo:active {
  opacity: 0.6;
}
/* SITENAV */
.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 50px;
}

.sitenav__item {
  position: relative;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: var(--header-color);
  font-weight: 400;
}

.sitenav__link:hover {
  color: var(--link-hover);
}
.sitenav__link:hover::after {
  position: absolute;
  left: 0;
  bottom: -48px;
  width: 100%;
  height: 4px;
  background: var(--link-hover-after);
  content: "";
}
.site-header__select {
  background-color: transparent;
  color: var(--header-color);
  border: 0;
  width: 90px;
  margin-right: 50px;
  margin-left: 100px;
  margin-bottom: -2px;
}
.site-header__icons-wrapper {
  display: flex;
  padding: 0;
  margin-top: 30px;
}
.site-header__search-icon {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.site-header__notification-icon {
  width: 39px;
  height: 26px;
  flex-shrink: 0;
  margin-right: 70px;
  margin-top: 4px;
}
.profile__card {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.profile-card__link {
  display: block;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  object-fit: contain;
}
.profile-card__link:hover {
  border-radius: 50%;
  border: 2px solid var(--link-hover);
}
.profile__card-heading {
  margin-left: 15px;
  width: 125px;
}

/* IMAGES */
.images-wrapper__container {
  display: flex;
  align-items: center;
}
.images-wrapper {
  width: 100%;
  max-width: 550px;
  padding-top: 30px;
  padding-bottom: 212px;
}
.images-wrapper__person-big {
  width: 380px;
  height: 498px;
  flex-shrink: 0;
  object-fit: contain;
  margin-bottom: 10px;
}
.person {
  margin-right: 8px;
}

.bottom-images {
  display: flex;
  align-items: center;
}

/* IMAGES-WRAPPER */
.images-info {
  position: relative;
  width: 100%;
  max-width: 550px;
  left: -80px;
}



.images-info__heading {
  margin-top: -80px;
}
.button {
  margin: 0;
}
.images-info__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.images-info__list1 {
  margin-right: 260px;
  margin-top: 30px;
}
.images-info__list2 {
  flex-grow: 1;
  margin-top: 30px;
}
.images-info__list-item {
  margin-bottom: 20px;
}
.images-info__list-link {
  text-decoration: none;
  color: #fff;
}

.images-info-lists {
  display: flex;
  align-items: center;
}

.products__info-bottom {
  color: #8B5D9A;
}
